/* background animation */
.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    transform: translate3d(29vw, 46vh, 10px);
  }
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(29vw, 46vh, 10px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.6;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  transform: translate3d(39vw, 39vh, 19px);
  background: #2647d9;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    transform: translate3d(62vw, 59vh, 91px);
  }
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(62vw, 59vh, 91px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.18;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  transform: translate3d(18vw, 27vh, 16px);
  background: #268bd9;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    transform: translate3d(31vw, 63vh, 63px);
  }
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(31vw, 63vh, 63px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.93;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  transform: translate3d(30vw, 66vh, 72px);
  background: #26bbd9;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    transform: translate3d(1vw, 10vh, 36px);
  }
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(1vw, 10vh, 36px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.56;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  transform: translate3d(74vw, 85vh, 97px);
  background: #d92688;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    transform: translate3d(80vw, 4vh, 16px);
  }
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(80vw, 4vh, 16px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.58;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: translate3d(51vw, 21vh, 49px);
  background: #5626d9;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    transform: translate3d(67vw, 39vh, 20px);
  }
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(67vw, 39vh, 20px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.24;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  transform: translate3d(44vw, 5vh, 18px);
  background: #5626d9;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    transform: translate3d(22vw, 25vh, 70px);
  }
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(22vw, 25vh, 70px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.8;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  transform: translate3d(9vw, 26vh, 78px);
  background: #d9263b;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    transform: translate3d(23vw, 61vh, 62px);
  }
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(23vw, 61vh, 62px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.28;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  transform: translate3d(69vw, 70vh, 79px);
  background: #d9a026;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    transform: translate3d(57vw, 66vh, 79px);
  }
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(57vw, 66vh, 79px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.11;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  transform: translate3d(84vw, 7vh, 82px);
  background: #8e26d9;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    transform: translate3d(76vw, 1vh, 37px);
  }
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(76vw, 1vh, 37px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.76;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: translate3d(60vw, 40vh, 39px);
  background: #d92659;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    transform: translate3d(83vw, 51vh, 33px);
  }
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(83vw, 51vh, 33px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.09;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  transform: translate3d(75vw, 5vh, 35px);
  background: #d92656;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    transform: translate3d(18vw, 59vh, 86px);
  }
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(18vw, 59vh, 86px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.23;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  transform: translate3d(90vw, 37vh, 46px);
  background: #bed926;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    transform: translate3d(70vw, 38vh, 9px);
  }
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(70vw, 38vh, 9px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.96;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  transform: translate3d(58vw, 66vh, 93px);
  background: #d92632;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    transform: translate3d(32vw, 56vh, 11px);
  }
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(32vw, 56vh, 11px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.65;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  transform: translate3d(84vw, 7vh, 93px);
  background: #d926a0;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    transform: translate3d(29vw, 15vh, 30px);
  }
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(29vw, 15vh, 30px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.33;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: translate3d(64vw, 70vh, 47px);
  background: #26d9d6;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    transform: translate3d(28vw, 29vh, 51px);
  }
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(28vw, 29vh, 51px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.18;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  transform: translate3d(59vw, 87vh, 22px);
  background: #26d95c;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    transform: translate3d(5vw, 6vh, 60px);
  }
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(5vw, 6vh, 60px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.45;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  transform: translate3d(48vw, 27vh, 71px);
  background: #6e26d9;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    transform: translate3d(47vw, 20vh, 52px);
  }
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(47vw, 20vh, 52px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.31;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  transform: translate3d(6vw, 20vh, 13px);
  background: #d9c126;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    transform: translate3d(76vw, 65vh, 64px);
  }
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(76vw, 65vh, 64px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.13;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  transform: translate3d(67vw, 11vh, 92px);
  background: #a3d926;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    transform: translate3d(28vw, 86vh, 52px);
  }
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(28vw, 86vh, 52px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.22;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: translate3d(37vw, 83vh, 99px);
  background: #d95c26;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    transform: translate3d(46vw, 82vh, 50px);
  }
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(46vw, 82vh, 50px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.75;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  transform: translate3d(24vw, 14vh, 18px);
  background: #d0d926;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    transform: translate3d(43vw, 70vh, 2px);
  }
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(43vw, 70vh, 2px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.64;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  transform: translate3d(81vw, 48vh, 7px);
  background: #26d953;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    transform: translate3d(62vw, 36vh, 25px);
  }
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(62vw, 36vh, 25px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.33;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  transform: translate3d(48vw, 19vh, 36px);
  background: #d9a626;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    transform: translate3d(14vw, 10vh, 93px);
  }
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(14vw, 10vh, 93px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.26;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  transform: translate3d(50vw, 1vh, 97px);
  background: #71d926;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    transform: translate3d(47vw, 84vh, 54px);
  }
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(47vw, 84vh, 54px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.16;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  transform: translate3d(57vw, 1vh, 69px);
  background: #b2d926;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    transform: translate3d(48vw, 84vh, 26px);
  }
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(48vw, 84vh, 26px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.31;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  transform: translate3d(61vw, 88vh, 35px);
  background: #d96526;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    transform: translate3d(38vw, 53vh, 43px);
  }
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(38vw, 53vh, 43px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.16;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  transform: translate3d(9vw, 89vh, 45px);
  background: #be26d9;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    transform: translate3d(27vw, 38vh, 16px);
  }
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(27vw, 38vh, 16px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.94;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  transform: translate3d(90vw, 51vh, 74px);
  background: #ac26d9;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    transform: translate3d(29vw, 66vh, 38px);
  }
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(29vw, 66vh, 38px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.53;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  transform: translate3d(80vw, 5vh, 99px);
  background: #267ad9;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    transform: translate3d(48vw, 33vh, 81px);
  }
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(48vw, 33vh, 81px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.67;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  transform: translate3d(52vw, 79vh, 40px);
  background: #d96826;
}

*{
  cursor:  url(cursor.png), auto;
}

body {
  background-color: #74c4c8;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.face {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vmin;
  height: 70vmin;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(ellipse at center, #ec7277, #ec7277 60%, #e1ecde calc( 60% + 1px ), #e1ecde 63%, #079554 calc( 63% + 1px ), #079554 68%, #056e3e calc( 68% + 1px ));
  box-shadow: -0.3vmin -0.3vmin 0.1vmin #e1ecde, 3vmin 3vmin 0.1vmin #44a7ac;
}
.face:after {
  content: "";
  display: block;
  width: 3.5vmin;
  height: 3.5vmin;
  border-radius: 50%;
  background-color: #f8ccce;
  position: absolute;
}

.quarter {
  height: 80%;
  width: 80%;
  position: absolute;
}
.quarter div {
  height: 10%;
  width: 2.4%;
  border-radius: 1vmin;
  background-color: #c41a21;
  position: absolute;
}
.quarter div:nth-child(even) {
  top: 45%;
  transform: rotate(90deg);
}
.quarter div:nth-child(odd) {
  left: 48.8%;
}
.quarter div:nth-child(1) {
  top: 0;
}
.quarter div:nth-child(2) {
  right: 3%;
}
.quarter div:nth-child(3) {
  bottom: 0;
}
.quarter div:nth-child(4) {
  left: 3%;
}

.seeds {
  width: 85%;
  height: 85%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.seeds div {
  display: block;
  height: 3.5vmin;
  width: 2vmin;
  background-color: #e32f36;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  position: absolute;
}
.seeds div:nth-child(1) {
  top: 60%;
  left: 6%;
  transform: rotate(285deg);
}
.seeds div:nth-child(2) {
  top: 61%;
  left: 12%;
  transform: rotate(99deg);
}
.seeds div:nth-child(3) {
  top: 19%;
  left: 18%;
  transform: rotate(57deg);
}
.seeds div:nth-child(4) {
  top: 55%;
  left: 24%;
  transform: rotate(36deg);
}
.seeds div:nth-child(5) {
  top: 8%;
  left: 30%;
  transform: rotate(80deg);
}
.seeds div:nth-child(6) {
  top: 2%;
  left: 36%;
  transform: rotate(78deg);
}
.seeds div:nth-child(7) {
  top: 18%;
  left: 42%;
  transform: rotate(332deg);
}
.seeds div:nth-child(8) {
  top: 57%;
  left: 48%;
  transform: rotate(325deg);
}
.seeds div:nth-child(9) {
  top: 22%;
  left: 54%;
  transform: rotate(226deg);
}
.seeds div:nth-child(10) {
  top: 62%;
  left: 60%;
  transform: rotate(51deg);
}
.seeds div:nth-child(11) {
  top: 69%;
  left: 66%;
  transform: rotate(111deg);
}
.seeds div:nth-child(12) {
  top: 31%;
  left: 72%;
  transform: rotate(323deg);
}
.seeds div:nth-child(13) {
  top: 5%;
  left: 78%;
  transform: rotate(26deg);
}
.seeds div:nth-child(14) {
  top: 32%;
  left: 84%;
  transform: rotate(79deg);
}
.seeds div:nth-child(15) {
  top: 55%;
  left: 90%;
  transform: rotate(66deg);
}

.hands div {
  position: absolute;
  bottom: 50%;
  border-radius: 1vmin;
  transform-origin: 50% 100%;
  transform: rotate(0);
}
.hands div.h {
  height: 27%;
  width: 2.4%;
  left: 48.8%;
  background-color: #6f0f13;
}
.hands div.m {
  height: 40%;
  width: 2.4%;
  left: 48.8%;
  background-color: #a0161b;
}
.hands div.s {
  height: 50%;
  width: 1%;
  left: 49.5%;
  bottom: 40%;
  transform-origin: 50% 80%;
  background-color: #f8ccce;
}

.free {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  margin-left: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.chairil {
  margin-top: -25px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .free {
    font-size: 13px;
    flex-direction: column;
  }

  .chairil{
    margin-top: 10px;
  }
}
